<!--================ Footer Strip =================-->
<div class="footer_strip footer_strip_02">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="footer_one">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-home"></i> Visit Us</h4>
                        <p>287 Vermont Road Niceville 1500, Australia</p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-phone"></i> Call Us</h4>
                        <p>+1 (123) 456 - 7890</p>
                        <p>+1 (123) 456 - 7890</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-envelope"></i> Email Us</h4>
                        <p><a href="mailto:info@parcons.com">info@parcons.com</a></p>
                        <p><a href="mailto:support@parcons.com">support@parcons.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Footer Strip =================-->
<!--================ Footer Area =================-->
<footer class="footer_01 footer_02">
    <div class="container">

        <div class="footer_bottom">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright">
                        <p>Designed by <span><a
                                href="https://themeforest.net/user/themechampion">ThemeChampion </a></span>©
                            2020 All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="links">
                        <ul>
                            <li><a href="index3.html#">About Us </a></li>
                            <li><a href="index3.html#"> Privacy Policy </a></li>
                            <li class="last"><a href="index3.html#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--================ End Footer Area =================-->